.auth {
  display: flex;
  flex-direction: column;
  width: 396px;
  margin: 70px auto auto;
}

@media screen and (max-width: 800px) {
  .auth {
    margin-top: 232px;
  }
}

@media screen and (max-width: 500px) {
  .auth {
    width: 260px;
  }
}

@media screen and (max-width: 400px) {
  .auth {
    margin-top: 56px;
  }
}

.auth__logo {
  width: 38px;
  height: 38px;
  margin: 18px 45px 18px 0;
  background-image: url(../../images/__logo.svg);
  background-repeat: no-repeat;
}

@media screen and (max-width: 400px) {
  .auth__logo {
    margin: 0 auto 50px;
  }
}

.auth__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  margin: 40px auto 40px 0;
}

.auth__title_type_auth {
  margin-right: 0;
}

@media screen and (max-width: 400px) {
  .auth__title_type_auth {
    text-align: center;
    margin: 0 auto 80px;
  }
}

.auth__field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: rgba(139, 139, 139, 1);
}

.auth__input {
  border: 0;
  background-color: rgba(32, 32, 32, 1);
  max-width: 396px;
  width: 100%;
  min-height: 24px;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  vertical-align: top;
  border-bottom: 1px solid rgba(66, 66, 66, 1);
  padding: 5px 0 10px;
  /* margin-bottom: 24px; */
  color: #ffffff;
}

.auth__button-submit {
  width: 396px;
  height: 45px;
  background-color: rgba(66, 133, 244, 1);
  background-position: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  margin: 0 auto 16px;
  padding: 0;
  border-radius: 3px;
  border: 0;
}

.auth__button-submit:hover {
  opacity: 0.8;
  cursor: pointer;
}

.auth__button-submit_type_disabled {
  background-color: rgba(248, 248, 248, 1);
  color: rgba(194, 194, 194, 1);
}

@media screen and (max-width: 500px) {
  .auth__button-submit {
    width: 260px;
  }
}

.auth__signin {
  display: flex;
  justify-content: center;
  margin: 0;
}

.auth__question {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: rgba(139, 139, 139, 1);
  text-align: center;
  margin: 0 6px 0 0;
}

@media screen and (max-width: 500px) {
  .auth__question {
    font-size: 12px;
    line-height: 14px;
  }
}

.auth__login-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: rgba(66, 133, 244, 1);
  text-align: center;
  text-decoration: none;
  margin: 0;
}

@media screen and (max-width: 500px) {
  .auth__login-link {
    font-size: 12px;
    line-height: 14px;
  }
}

.auth__container {
  height: 14px;
  margin: 76px auto 20px;
}

@media screen and (max-width: 500px) {
  .auth__container {
    margin-top: 192px;
  }
}

.auth__container_type_login {
  margin-top: 145px;
}

@media screen and (max-width: 500px) {
  .auth__container_type_login {
    margin-top: 261px;
  }
}

.auth__texterror {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: rgba(255, 0, 76, 1);
  text-align: center;
  margin: 0;
}

.auth__error {
  height: 14px;
  margin: 6px auto 4px 0;
}

.auth__error-text {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: rgba(255, 0, 76, 1);
  margin: 0;
}
