.account {
  display: flex;
  margin: 21px 0 auto auto;
  text-decoration: none;
}

.account:hover {
  opacity: 0.7;
}

@media screen and (max-width: 400px) {
  .account {
    margin-top: 24px;
  }
}

.account_type_popup {
  margin: auto auto 90px;
}

@media screen and (max-width: 410px) {
  .account_type_popup {
    margin-bottom: 46px;
  }
}

.account__link {
  height: 16px;
  color: #ffffff;
  font-size: 13px;
  line-height: 18px;
  text-decoration: none;
  padding-top: 9px;
  margin: 0;
}

.account__link:nth-last-child(1) {
  margin-left: 16px;
}

.account__icon {
  width: 26px;
  height: 26px;
  margin: 6px 0 auto 7px;
  background-image: url(../../images/__icon-account.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(49, 49, 49, 1);
  border-radius: 26px;
}

.account__icon_type_landing {
  background-color: rgba(15, 65, 87, 1);
}
